
<div class="renamePopup" ng-if="folderOperateObj.renameFolderPopup">
    <!--<div class="rename">-->
    <!--<span>重命名</span>-->
    <!--<span>名字</span>-->
    <!--<input class="renameInput" type="text" value="{{fileOldName}}" -->
    <!--ng-model="fileOldName">-->
    <!--<span class='renameTips hiddenTips'>你没有权限重命名该文件，或目标名称已存在</span>-->
    <!--<span class="handleButton">-->
    <!--<button class="cancelButton" ng-click = "folderOperateClose()">取消</button>-->
    <!--<button class="submitButton" ng-click = "renameFolderRequest(fileOldName)">确定</button>-->
    <!--</span>-->
    <!--</div>-->
    <div class="rename">
        <div class="title">
            <span>重命名</span>
            <span class="title-cancel" ng-click = "folderOperateClose()"></span>
        </div>
        <div class="name">
            <span>名字</span>
            <input class="renameInput" type="text" ng-keyup="hideRenameErrormsg()" value="{{fileOldName}}" ng-model="fileOldName">
        </div>
        <div class="errMessge">
            <span class='renameTips hiddenTips'></span>
        </div>
        <span class="handleButton">
            <button class="submitButton" ng-click = "renameFolderRequest(fileOldName)">确定</button>
            <button class="cancelButton" ng-click = "folderOperateClose()">取消</button>
        </span>
    </div>
</div>