#modifyPassword_yhn{
    position: fixed;
    height: 388px;
    width: 440px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    z-index: 100;
    background:white;
    font-size: 14px;
    color: #444444;
}
#modifyPassword_yhn .title {
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    background-color: #fff;
}
#modifyPassword_yhn .title span {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 54px;

}

#modifyPassword_yhn .title .title-cancel {
    float: right;
    width: 12px;
    height: 12px;
    margin-top: 20px;
    margin-right: 20px;
    background-image: url("../../../lib/images/icon.png");
    background-repeat: no-repeat;
	background-position: -692px -159px;
	padding: 0
}
#modifyPassword_yhn .title .title-cancel:hover {
    background-position: -713px -159px;
}
/*#modifyPassword_yhn>div:nth-child(1){*/
/*width:100%;*/
/*height:40px;*/
/*background:#333333;*/
/*}*/
/*#modifyPassword_yhn>div:nth-child(1)>span:nth-child(1){*/
/*color:white;*/
/*float:left;*/
/*display: block;*/
/*height:40px;*/
/*text-indent: 10px;*/
/*line-height:40px;*/
/*font-family: "microsoft yahei";*/
/*font-size: 16px;*/
/*}*/
/*#modifyPassword_yhn>div:nth-child(1)>span:nth-child(2){*/
/*float:right;*/
/*color:#e2e2e2;*/
/*font-size: 18px;*/
/*font-family: "microsoft yahei";*/
/*line-height:40px;*/
/*margin-right:20px;*/
/*cursor: pointer;*/
/*}*/
/*#modifyPassword_yhn > div:nth-child(1) > span:nth-child(2):hover{*/
/*color:white;*/
/*}*/
/*#modifyPassword_yhn>div:nth-child(2){*/
/*background:white;*/
/*width:100%;*/
/*}*/
#modifyPassword_yhn .nativeTips{
    width:100%;
    margin-top: 20px;
    height:6px;
}
#modifyPassword_yhn .nativeTips span{
    color:red;
    font-family: "microsoft yahei";
    font-size: 14px;
    margin-right:100px;
    float: right;
}
.content .inputContent,
.content .checkPasswordContent,
.content .grade,
.content .newPassContent {
    width:100%;
    box-sizing: border-box;
    padding: 0 35px;
    height:32px;
    line-height: 32px;
}
.content .inputContent>span,
.content .checkPasswordContent>span,
.content .grade>span,
.content .newPassContent>span{
    font-family: "microsoft yahei";
    line-height:32px;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    float:left;
    margin-right: 34px;
}
.content .grade>span:nth-of-type(1) {
    margin-right: 20px;
}
.content .checkPasswordContent>span {
    margin-right: 6px;
}
.content .inputContent>input,
.content .checkPasswordContent>input,
.content .newPassContent>input{
    /*margin-left:45px;*/
    width:290px;
    height:30px;
    font-family: "microsoft yahei";
    border:1px solid #d9d9d9;
    border-radius: 4px;
    float:left;
    font-size: 14px;
    color: #999999;
    text-indent: 12px;
}
.content .newTips{
    width:100%;
    height:20px;
}
.content .newTips>span{
    color:red;
    font-family: "microsoft yahei";
    font-size: 14px;
    margin-right:100px;
    float: right;
}

#modifyPassword_yhn .content>div:nth-child(3){
    width:100%;
    height:30px;
}
#modifyPassword_yhn .content>div:nth-child(3)>span{
    display: block;
    font-family: "microsoft yahei";
    font-size: 13px;
    text-indent: 112px;
    color:#999999;
    margin-top: 5px;
}

.content .grade {
    margin-top: 26px;
}
.content .grade .weak{
    display: block;
    float: left;
    width:88px;
    height:17px;
    border:1px solid #D8D8D8;
    border-radius: 2px;
    margin-top: 6px;
    margin-left:0px;
    margin-right: 0;
}
.content .grade .middle{
    display: block;
    float: left;
    width:88px;
    height:17px;
    border:1px solid #D8D8D8;
    border-radius: 2px;
    margin-top: 6px;
    margin-left:9px;
    margin-right: 0;
}
.content .grade .strong{
    display: block;
    float: left;
    width:88px;
    height:17px;
    border:1px solid #D8D8D8;
    border-radius: 2px;
    margin-top: 6px;
    margin-left:9px;
    margin-right: 0;
}
.content>div:nth-child(5)>div:nth-child(1){
    width: 100%;
    height:18px;
}
.content .passCheckTips{
    color:red;
    font-family: "microsoft yahei";
    font-size: 14px;
    margin-right:42px;
    float: right;
}


#modifyPassword_yhn .content .model-btn {
    padding-right: 0px;
    margin-top: 34px;
    width: 176px;
    height: 40px;
    float: right;
}


#modifyPassword_yhn .content .cancel,
#modifyPassword_yhn .content .next {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #333333;
}

#modifyPassword_yhn .content .cancel:hover {
    border: 1px solid #40a9ff;
    color: #40a9ff;
    background: #ffffff;
}

#modifyPassword_yhn .content .cancel:active {
    border: 1px solid #1368b7;
    color: #1368b7;
    background: #ffffff;
}

#modifyPassword_yhn .content .next {
    display: inline-block;
    width: 80px;
    height: 32px;
    background-color: #1890ff;
    border: 1px solid #1890FF;
    color: #fff;
    margin-left: 6px;
}
#modifyPassword_yhn .content .next:hover {
    border: 1px solid #40a9ff;
    background: #40a9ff;
    color: #FFFFFF;
}
#modifyPassword_yhn .content .next:active {
    border: 1px solid #1368b7;
    background: #1368b7;
    color: #FFFFFF;
}


.modifySuccess,
.modifySuccess1{
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    height:200px;
    margin-left:-200px;
    margin-top:-100px;
    z-index: 100;
    background: #fff;
}
.modifySuccess .title,
.modifySuccess1 .title {
    height: 54px;
    line-height: 54px;
    font-size: 14px;
    background-color: #fff;
}
.modifySuccess .title .title-name,
.modifySuccess1 .title .title-name {
    float: left;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 54px;
}

.modifySuccess .title .title-cancel,
.modifySuccess1 .title .title-cancel {
    float: right;
    width: 12px;
    height: 12px;
    margin-top: 20px;
    margin-right: 20px;
    background-image: url("../../../lib/images/icon.png");
    background-repeat: no-repeat;
    background-position: -692px -159px;
}

.modifySuccess .title .title-cancel:hover,
.modifySuccess1 .title .title-cancel:hover {
    background-position: -713px -159px;
}
.modifySuccess .tips,
.modifySuccess1 .tips {
    width: 100%;
    height: 57px;
    line-height: 57px;
    padding: 0 36px;
    box-sizing: border-box;
    margin-top: 12px;
}
.modifySuccess .tips .tip-icon,
.modifySuccess1 .tips .tip-icon {
    width: 30px;
    height: 30px;
    margin-top: 12px;
    margin-right: 14px;
    background-image: url("../../../lib/images/deleteLogo.png");
    background-size: contain;
    float: left;
}
.modifySuccess1 .tips .tip-icon{
    background-image: url("../../../lib/images/successLogo.png");
    background-size: contain;
}
.modifySuccess .tips .tip-text,
.modifySuccess1 .tips .tip-text {
    float: left;
    font-size: 14px;
    color: #666666;
}
.modifySuccess .button,
.modifySuccess1 .button {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 14px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #1890ff;
    border-radius: 4px;
    background: #1890ff;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
.modifySuccess .myBtn:hover,
.modifySuccess1 .myBtn:hover {
    border: 1px solid #40a9ff;
    background: #40a9ff;
    color: #FFFFFF;
}

.modifySuccess .myBtn:focus,
.modifySuccess1 .myBtn:focus {
    border: 1px solid #1368b7;
    background: #1368b7;
    color: #FFFFFF;
}








