<div class="systemRoleLeft">
    <div>
        <span class="manageGroup2 spanStyle">角色</span>
    </div>
    <select class="chooseUser22" multiple="true">
        <option value="admin1">admin</option>
        <option value="admin2">admin</option>
        <option value="option-C">admin</option>
        <option value="option-D">admin</option>
    </select>
</div>
<div class="systemRoleRight">
    <span class="controlPower2 spanStyle">操作权限</span>
    <div class="controlList">
        <div class="authority authority0">
            <input type="checkbox" id="checkbox12"/>
            <label for="checkbox12" id="checkLabel12">管理员安全</label>
        </div>
        <div class="authority authority1">
            <input type="checkbox" id="checkbox22"/>
            <label for="checkbox22" id="checkLabel22">运行报表</label>
        </div>
        <div class="authority authority2">
            <input type="checkbox" id="checkbox32"/>
            <label for="checkbox32" id="checkLabel32">阅读内容</label>
        </div>
        <div class="authority authority3">
            <input type="checkbox" id="checkbox42"/>
            <label for="checkbox42" id="checkLabel42">计划内容</label>
        </div>
        <div class="authority authority4">
            <input type="checkbox" id="checkbox52"/>
            <label for="checkbox52" id="checkLabel52">发布内容</label>
        </div>
        <div class="authority authority5">
            <input type="checkbox" id="checkbox62"/>
            <label for="checkbox62" id="checkLabel62">创建内容</label>
        </div>
        <div class="authority authority6">
            <input type="checkbox" id="checkbox72"/>
            <label for="checkbox72" id="checkLabel72">管理数据源</label>
        </div>
    </div>
</div>
